<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="goodee.gdj58.booking_c.mapper.customer.CustomerMapper">
	
	<!-- 예약업체 리스트 출력 -->
	<select id="getBookingCompanyList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT  bkc.booking_company_id bkcId
				 , bkc.booking_company_name bkcName
				 , if(bkci.booking_company_img_origin_name IS NULL,'업체사진없음',bkci.booking_company_img_origin_name) bkciOrigin
				 , bkcd.booking_company_addition_service bkcdAddService
				 , if(rv.review_memo IS NULL, '리뷰없음', rv.review_memo) rvMemo 
				 , if(rv.star_rating IS NULL, '별점없음', rv.star_rating) rvRating
				 , if(rvi.review_img_origin_name IS NULL, '리뷰사진없음', rvi.review_img_origin_name) rviOrigin
				 , if(bkcd.booking_company_opentime &#60;= NOW() AND bkcd.booking_company_closetime >= NOW(), '영업중','영업종료') bkcOpen
		FROM booking_company bkc
			INNER JOIN booking_company_detail bkcd ON bkc.booking_company_id = bkcd.booking_company_id
			LEFT OUTER JOIN booking_company_img bkci ON bkc.booking_company_id = bkci.booking_company_id
			INNER JOIN booking bk ON bkc.booking_company_id = bk.booking_company_id
			LEFT OUTER JOIN review rv ON bk.booking_no = rv.booking_no
			LEFT OUTER JOIN review_img rvi ON rv.booking_no = rvi.booking_no
		<where>
			<if test="searchWord != null || searchWord != '' ">
				(bkc.booking_company_name LIKE CONCAT('%',#{searchWord},'%')) OR  (bkcd.booking_company_addition_service LIKE CONCAT('%',#{searchWord},'%'))
			</if>
		</where>
	</select>
</mapper>